beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.8.24
chardet==3.0.4
Cython==0.28.2
dev==0.4.0
idna==2.7
lxml==4.2.4
numpy==1.15.1
pandas==0.23.4
pifacecad==2.0.8
pifacecommon==4.2.1
pkg-resources==0.0.0
python-dateutil==2.7.3
python-lirc==1.2.3
pytz==2018.5
requests==2.19.1
six==1.11.0
SQLAlchemy==1.2.11
sqlsoup==0.9.1
urllib3==1.23
